* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    background-color: #141414;
}

#navbar {
    background-color: black;
    height: 57px;
    border-top: 1px solid red;
    border-bottom: 2px solid red;
}

#logo {
    background-color: black;
    height: 57px;
}

a {
    background-color: black;
    line-height: 57px;
    float: right;
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 17px;
    padding: 0px 25px;
    border-left: 1px solid red;
}

a:hover {
    background-color: #141414;
}

#title {
    color: white;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
}

table, th, td {
    border: 1px solid white;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 4px solid #141414;
    border-bottom: 4px solid #141414;
    border-collapse: collapse;
}

table {
    width: 98%;
    table-layout: fixed;
    text-align: center;
    margin-left: 1%;
    margin-right: 1%;
}

#header td {
    line-height: 36px;
    color: white;
}

td {
    background-color: #000;
    line-height: 25px;
}

td:nth-child(8n), td:nth-child(8n+7) {
    color: yellow;
}

tr {
    color: white;
    background: #000;
}